<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Languages</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>
    <main>
        <h1>Languages</h1>
    <a href=""><h3>HTML</h3></a>
        <a href=""><h3>CSS</h3></a>
        <a href=""><h3>Javascript</h3></a>
        <a href=""><h3>Mongo</h3></a>
        <a href=""><h3>Mongoose</h3></a>
        <a href=""><h3>Python</h3></a>
        <a href=""><h3>Git</h3></a>

       
             
           
            </div>
    </main>
</body>
</html>