<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>Document</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>

   <h1> <%= language.language %> </h1>

   <button><a href="/languages/<%=`${language._id}`%>/edit">Edit</a></button>

</body>
</html>