<header>
    <nav>
      <ul>
        <li style="position: relative; display: inline; top: 5; left: 5;">
          <a href="/">DELSECTO</a>
        </li>
        <li style="display: inline; margin: 10px;">
          <a href="/languages">Languages</a>
        </li>
        <li style="display: inline; margin: 10px;">
          <a href="/questions">Questions</a>
        </li>
        <li style="display: inline; margin: 10px">
          <a href="/questions/new">Ask A Question</a>
        </li>
        <li style="position: relative; display: inline; margin: 10px;">
          <a href="/users">Login/Signup</a>
        </li>
      </ul>
    </nav>
  </header>