<header>
    <nav>
      <ul>
        <li>
          <a href="/">DELSECTO</a>
        </li>
        <li>
          <a href="/languages">Languages</a>
        </li>
        <li>
          <a href="/questions">Questions</a>
        </li>
        <li>
          <a href="/ask">Ask</a>
        </li>
        <li>
          <a href="/users">Login/Signup</a>
        </li>
      </ul>
    </nav>
  </header>