<header class="topnav">
  <div>
    <a class="logo" href="/">DELSECTO</a>
  </div>
  <div class="topnav-center">
    <a class="link" href="/languages">Languages</a>
    <a class="link" href="/questions">Questions</a>
    <a class="link" href="/questions/new">Ask A Question</a>
  </div>
  <div class="topnav-right">
    <% if (typeof user !== 'undefined') { %> 
      <a class="login" href="/users/show"> <%= user.username %> </a>
      <a class="login" href="/users/logout">Logout</a>
    <% } else { %> 
      <a class="login" href="/users">Login/Signup</a>
    <% } %> 
    
  </div>
</header>