<select name="languageId" id="language">
    <option value="HTML">
        Choose Coding Language
    <option value="HTML">
        HTML
    </option>
    <option value="CSS">  
        CSS
    </option>
    <option value="Git">
        Git
    </option>
    <option value="Javascript">
        Javascript
    </option>
    <option value="MongoDB">
        MongoDB
    </option>
    <option value="Python">
        Python
    </option>
    <option value="Express">
        Express
    </option>

</select>