<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>DELSECTO</title>
</head>
<body>
    <%- include ('partials/header.ejs'); -%>
    <main>
        <p class="welcome">Delsecto Is A Community For Debugging</p>
        <table >
            <tr>
                <th><h3>Choose A Language</h3></th>
                <th><h3>Choose A Question</h3></th>
                <th><h3>Ask A Question</h3></th>
            </tr>
            <tr>
                <th><a href="">HTML</a></th>
                <th><a href="/questions/5f0d2b189b8853ed91e18b90">How do I write an HTML boilerplate?</a></th>
                <th class="language"> <%- include ('partials/languageList.ejs'); -%> </th>
            </tr>    
            <tr>
                <th><a href="">CSS</a></th>
                <th><a href="questions/5f0d2b2b9b8853ed91e18b91">How do I change the color of my background to orange?</a></th>
                <th>
                    <label for="ask">Question:</label>
                    <input type="text" id="ask" name="ask" />
                    <button type="submit">Submit</button>
                </th>
            </tr>
            <tr>
                <th><a href="">Javascript</a></th>
                <th><a href="questions/5f0d2b6a9b8853ed91e18b92">How do I use a for loop?</a></th>
            </tr>
            <tr>
                <th><a href="">MongoDB</a></th>
                <th><a href="questions/5f0d2bcf9b8853ed91e18b93">How do you call on a database?</a></th>
            </tr>
            <tr>
                <th><a href="">Python</a></th>
                <th><a href="questions/5f0d2bf79b8853ed91e18b94">How do I execute a while loop in Python?</a></th>
            </tr>
            
        </table>
    </main>
</body>
</html>