<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <!-- <script src="./public/js/app"></script> -->
    <title>Document</title>
</head>
<body>
    <%- include ('partials/header.ejs'); -%>
    <main>
        <h1>Delsecto Is A Community For Debugging</h1>
        <table style="width: 100%">
            <tr>
                <th>Choose A Language</th>
                <th>Choose A Question</th>
                <th>Ask A Question</th>
            </tr>
            <tr>
                <th><a href="">HTML</a></th>
                <th><a href="">How do I setup my HTML?</a></th>
                <th> <%- include ('partials/languageList.ejs'); -%> </th>
            </tr>    
            <tr>
                <th><a href="">CSS</a></th>
                <th><a href="">How do I link my HTML and CSS?</a></th>
                <th>
                    <label for="ask">Question:</label>
                    <input type="text" id="ask" name="ask" />
                    <button type="submit">Submit</button>
                </th>
            </tr>
            <tr>
                <th><a href="">Javascript</a></th>
                <th><a href="">What are the different loop functions in Javascript?</a></th>
            </tr>
            <tr>
                <th><a href="">MongoDB</a></th>
                <th><a href="">How do I run a timer on Javascript?</a></th>
            </tr>
            <tr>
                <th><a href="">Python</a></th>
                <th><a href="">What is Python?</a></th>
            </tr>
            
        </table>
    </main>
</body>
</html>