<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>DELSECTO</title>
</head>
<body>
    <%- include ('partials/header.ejs'); -%>
    <main>
        <p class="welcome">Delsecto Is A Community For Debugging</p>
            <div class="row">
                <div class="column">
                  <h2>Choose a Language</h2>
                  <a class="maintext" href="">CSS</a></br>
                  <a class="maintext" href="">Javascript</a></br>
                  <a class="maintext" href="">HTML</a></br>
                  <a class="maintext" href="">MongoDB</a></br>
                  <a class="maintext" href="">Python</a></br>
                </div>
                <div class="column">
                  <h2>Choose a Question</h2>
                  <a class="maintext" href="">How do I setup my HTML?</a></br>
                  <a class="maintext" href="">How do I link my HTML and CSS?</a></br>
                  <a class="maintext" href="">What are the different loop functions in Javascript?</a></br>
                  <a class="maintext" href="">How do I run a timer on Javascript?</a></br>
                  <a class="maintext" href="">What is Python?</a></br>
                </div>
                <div class="column">
                    <h2>Ask a Question</h2></br>
                    <th class="language"> <%- include ('partials/languageList.ejs'); -%> </th></br>
                    <label for="ask">Question:</label></br>
                    <input class="hometext" type="text" id="ask" name="ask" /></br>
                    <button class="button" type="submit">Submit</button>
                </div>
              </div>
    </main>
</body>
</html>