<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>DELSECTO</title>
</head>
<body>
    <%- include ('partials/header.ejs'); -%>
    <main>
        <p class="welcome">Delsecto Is A Community For Debugging</p>
<<<<<<< HEAD
            <div class="row">
                <div class="column">
                  <h2>Choose a Language</h2>
                  <a class="maintext" href="">CSS</a></br>
                  <a class="maintext" href="">Javascript</a></br>
                  <a class="maintext" href="">HTML</a></br>
                  <a class="maintext" href="">MongoDB</a></br>
                  <a class="maintext" href="">Python</a></br>
                </div>
                <div class="column">
                  <h2>Choose a Question</h2>
                  <a class="maintext" href="">How do I setup my HTML?</a></br>
                  <a class="maintext" href="">How do I link my HTML and CSS?</a></br>
                  <a class="maintext" href="">What are the different loop functions in Javascript?</a></br>
                  <a class="maintext" href="">How do I run a timer on Javascript?</a></br>
                  <a class="maintext" href="">What is Python?</a></br>
                </div>
                <div class="column">
                    <h2>Ask a Question</h2></br>
                    <th class="language"> <%- include ('partials/languageList.ejs'); -%> </th></br>
                    <label for="ask">Question:</label></br>
                    <input class="hometext" type="text" id="ask" name="ask" /></br>
                    <button class="button" type="submit">Submit</button>
                </div>
              </div>
=======
        <table >
            <tr>
                <th><h3>Choose A Language</h3></th>
                <th><h3>Choose A Question</h3></th>
                <th><h3>Ask A Question</h3></th>
            </tr>
            <tr>
                <th><a href="">HTML</a></th>
                <th><a href="/questions/5f0d2b189b8853ed91e18b90">How do I write an HTML boilerplate?</a></th>
                <th class="language"> <%- include ('partials/languageList.ejs'); -%> </th>
            </tr>    
            <tr>
                <th><a href="">CSS</a></th>
                <th><a href="questions/5f0d2b2b9b8853ed91e18b91">How do I change the color of my background to orange?</a></th>
                <th>
                    <label for="ask">Question:</label>
                    <input type="text" id="ask" name="ask" />
                    <button type="submit">Submit</button>
                </th>
            </tr>
            <tr>
                <th><a href="">Javascript</a></th>
                <th><a href="questions/5f0d2b6a9b8853ed91e18b92">How do I use a for loop?</a></th>
            </tr>
            <tr>
                <th><a href="">MongoDB</a></th>
                <th><a href="questions/5f0d2bcf9b8853ed91e18b93">How do you call on a database?</a></th>
            </tr>
            <tr>
                <th><a href="">Python</a></th>
                <th><a href="questions/5f0d2bf79b8853ed91e18b94">How do I execute a while loop in Python?</a></th>
            </tr>
            
        </table>
>>>>>>> aac7d99899a521a4a7a9bba4370066c72bbc2874
    </main>
</body>
</html>