* {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
}

body {
    background: #373737;
    margin: 0;
}

.topnav {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #414141; 
    height: 60px;  
}
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav_centered */
.topnav .link {
    float: left;
    text-align: center;
    font-size: 17px;
    padding: 20px 16px;
}

.topnav-center a:hover {
    background: #373737;
  }

.logo {
    float: left;
    font-size: 35px;
    margin: 10px;
}

.login {
    float: right;
    margin: 20px;
}

.welcome {
    margin: 15px 10px 15px 10px;
    font-size: 35px;
    align-items: stretch;
}

th {
    text-align: left;
    padding: 15px;
    font-size: 22px
}

input {
    color: black;
}

.log {
    text-align: center;
}

.loginput {
    width: 300px;
    height: 60px;
    text-align: center;
    border-radius: 8px;
    border: 0;
    margin: 5px;
    font-size: 18px;
}

.logbutton {
    width: 300px;
    height: 60px;
    background: black;
    border-radius: 9px;
    border: 0;
    margin: 5px;
    color: white;
    font-size: 18px;
}

#languages {
    width: 100px;
    height: 50px;
}