* {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;

}

button:focus { outline: none; }

body {
    background: #373737;
    margin: 0;
    text-align: center;
}

#welcome {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

.topnav {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #414141; 
    height: 60px;  
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav_centered */
.topnav .link {
    float: left;
    text-align: center;
    font-size: 17px;
    padding: 20px 16px;
}

textarea {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.questionsTop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #535353;
    box-shadow: 0 0 0 .8em #373737;
    /* width: 500px;
    height: 100px; */
    border: 70px solid rgb(155,155,155);
    border-radius: 46%;
}
#questionIntro {
    position: relative;
    left: 85px;
    top: -10px;
}

#howMany {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20px;
    left: -90px;

}

.langName {
    text-decoration: underline;
}

.langName:hover {
    font-size: 40px;
    text-decoration: bold;
}

.langPage {
    text-align: center;
}

.nav-link {
    position: relative;
    top: 22px;
    left: 600px;
}

.topnav-center a:hover {
    background: #373737;
  }

.logo {
    float: left;
    font-size: 35px;
    margin: 10px;
}

.login {
    float: right;
    margin: 20px;
}

.welcome {
    text-align: center;
    font-size: 35px;
    
}

th {
    text-align: left;
    padding: 15px;
    font-size: 22px
}

input {
    color: black;
}

.log {
    text-align: center;
}

.loginput {
    width: 300px;
    height: 60px;
    text-align: center;
    border-radius: 8px;
    border: 0;
    margin: 5px;
    font-size: 18px;
}

#logbutton {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
} 

#language {
    width: 200px;
    height: 30px;
    color: black;
    border-radius: 5px;
    margin: 0 10px 20px 10px;;
}

#question {
    position: relative;
    margin: 25px 50px;
    padding: 40px 100px;
    border-style: none;
    border: 0;
}

/* .pagetext {
    margin: 40px;
} */

.hometext {
    height: 200px;
    background-color: black;
    color: white;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

.button {
    width: 150px;
    height: 40px;
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 18px;
    margin: 5px 0 0 0;
    box-shadow: 0 3px #666;
}

.label {
    font-size: 25px;
    position: relative;
    margin: 10pxpx;
}

.buttons:active {
    background-color: rgb(29, 29, 29);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    padding: 0;
    border: none;
    background: none;
}

a:hover {
    font-style: bold;
    
}

.button:hover {
    background-color: rgb(8, 8, 8);
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    text-align: center;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.maintext {
    font-size: 30px;
    padding: 0 0 0;

}

.container {

    width: 1010px;
    margin: 0 auto;
}
.first {
    width: 400px;
    height: 100px;
    float: left;
    background: black;
    margin: 0 10px 0 0;
}
.second {
    width: 600px;
    float: left;
    height: 100px;
    background: gray;
}