<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>Document</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>
    <main>  
      <h1 class="log">Login</h1>
      <div class="log">
        <form method="POST">
            <div>
              <input class="loginput" type="text" name="username" placeholder="email">
            </div>
            <div>
              <input class="loginput" type="text" name="password" placeholder="password"></input>
            </div>
            <button class="logbutton" type="submit">Login</button>
          </form>
          <a class="signup" href="users/register">Signup!</a>
      </div>
    </main>
</body>
</html>