<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Signup</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>

    <main>  
        <h1>Signup</h1>
        <form method="POST">
          <input class="loginput" type="text" name="username" placeholder="username">
        </div>
        <div>
          <input class="loginput" type="text" name="password" placeholder="password"></input>
        </div>
        <button class="logbutton" type="submit">Create User</button>
    </main>
</body>
</html>