<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>Document</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>
<<<<<<< HEAD
    <h1>User Home Page</h1>
=======
    <main>
        <h1> Question: </h1>
        <%= question.question %>
    </main>
>>>>>>> 15fbecb9b36eadf08aac99e0913b9ab30e0cb615
</body>
</html>