<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <!-- <script src="../../public/js/app.js"></script> -->
    <title>Document</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>

    <main>
        <h1>Questions!</h1>
        <% if (questions.length) { %>
            <% questions.forEach((question) => { %>
              <a href="/questions/<%= question._id %>">
                <h4><%= question.questions %></h4>
              </a>
            <% }) %>
          <% } else { %>
            <h4>No Questions found</h4>
          <% } %>
    </main>
</body>
</html>