<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/questions/<%= solution._id %>/solutions?_method=PUT" method="POST">
        
            <div>
              <label for="solution">Solution</label>
              <textarea id="body" name="solution"><%= solution.solution %></textarea>
            </div>
            <button type="submit">Update Solution</button>
            
          </form>
           <!-- include ('../partials/deleteButton.ejs', {url: `/questions/${solution.id}`});  -->
        </main>

        <div id="bug">
            <div id="leftAntenna"></div>
            <div id="rightAntenna"></div>
            <div id="bugHead"></div>
            <div id="bugBody"></div>
            <div id="bugLeftArm"></div>
            <div id="bugRightArm"></div>
            <div id="bugMiddleLeft"></div>
            <div id="bugMiddleRight"></div>
            <div id="bugLeftLeg"></div>
            <div id="bugRightLeg"></div>
            <div id="leftWing"></div>
            <div id="rightWing"></div>
            </div>
</body>
</html>